@tailwind base;
@tailwind components;
@tailwind utilities;

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ✅ Define variables globally */
:root {
  --color-background: #020617;
  --color-background-secondary: #0F172A;
  --color-surface: #0f172a;
  --color-primary: #0DA6F2;
  --color-primary-dark: #0a79b1;
  --color-text-primary: #ffffff;
  --color-text-secondary: #94A3B8;
  --color-popup: #1E293B;
  --color-border: #315668;
  --color-cancel: #FB7185;
  --color-success: #86EFAC; /* success */
  --color-warning: #FDBA74; /* pending */
  --color-error: #F87171;   /* failed */
  --color-student-gradient: linear-gradient(135deg, #0DA6F2, #93C5FD);
  --color-recruiter-gradient: linear-gradient(135deg, #60A5FA, #818CF8);
  --color-job-gradient: linear-gradient(135deg, #A78BFA, #C084FC);
  --color-application-gradient: linear-gradient(135deg, #22D3EE, #2DD4BF);
}

/* FORCE DARK BACKGROUND */
html,
body,
#root {
  height: 100%;
  background-color: #020617 !important;
  color: #ffffff;
  
}

/* Remove default CRA App white */
.App {
  background-color: #020617 !important;
}

/* Remove bootstrap container background if any */
.container,
.container-fluid {
  background-color: transparent !important;
}

